body {
    margin 0;
    padding: 0;
    background-color: #449;
}

img {
    border-radius: 2%;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

.perfil img:hover {
    cursor: grab;
}

.formulario ul {
    list-style-type: none;
}

.formulario textarea {
    resize: none;
}